<!DOCTYPE html>
<head>
  <title>Hệ thống crawl dữ liệu</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}" />
<head>
  <title>Hệ thống crawl dữ liệu</title>
</head>
<nav class="header-nav">
  <ul>
    {% if g.user %}
    <li><span>{{ g.user['username'] }}</span></li>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a> {% else %}</li>

    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    <li>
      <a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </li>
  </ul>
</nav>
<div class="background">
  <div class="panel">{% block panel %}{% endblock %}</div>

  <div class="content">
    <header>{% block header %}{% endblock %}</header>
    <!-- {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %} -->
    {% block content %}{% endblock %}
  </div>
</div>
