{% extends 'base.html' %} {% block panel %}
<!-- <img  src="{{ url_for('static', filename='/assets/home.jpg') }}" /> -->
<div class="panel-home-container">
  <div
    class="panel-home"
    style="background-image: url({{url_for('static', filename='images/bg-01.jpg')}})"
  >
    <h1>Hiện đang có {{jobs_count}} bản tin dữ liệu việc làm thô</h1>
    <h1>Lần cập nhật cuối:</h1>
    <h2>itviec: {{last_update['itviec']}}</h2>
    <h2>Vietnamwork: {{last_update['vietnamwork']}}</h2>

    <a href="/itviec"><button class="craw-button">Craw It việc</button></a>

    <a href="vietnamwork"
      ><button class="craw-button">Craw vietnamwork</button></a
    >

    <!-- <form class="searchBox" method="GET" action="/search">
    <input class="searchInput" type='text' name = 'search_text' />
    <button class="searchButton" type='submit'><i class="material-icons">
      search
  </i></button>
  </form> -->
  </div>
</div>

{% endblock %} {% block header %}
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    width: 1500px;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: rgb(17, 193, 224);
  }

  td.info,
  th.info {
    width: 300px;
  }

  tr:nth-child(even) {
    background-color: #d4fffd;
  }
  tr:nth-child(odd) {
    background-color: #d3f2f0;
  }
  .demo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .demo-title {
    height: 2em;
    font-size: 1.8em;
    padding-top: 20px;
  }
  h2 {
    color: aliceblue;
  }

  .craw-button {
    background-color: #e7e7e7;
    color: black;
    border-radius: 8px;
    width: 250px;
    height: 50px;
    margin-top: 5px;
  }
</style>
{% endblock %} {% block content %}
<div class="demo-container">
  <div class="demo-title">Định dạng dữ liệu Itviec</div>
  <div class="job-pair">
    <table>
      <thead>
        <tr>
          <th>Trường dữ liệu</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="info">elem_id</td>
          <td>{{ demo_itviec['elem_id'] }}</td>
        </tr>
        <tr>
          <td class="info">title</td>
          <td>{{ demo_itviec['title'] }}</td>
        </tr>
        <tr>
          <td class="info">url</td>
          <td>{{ demo_itviec['url'] }}</td>
        </tr>
        <tr>
          <td class="info">salary</td>
          <td>{{ demo_itviec['salary'] }}</td>
        </tr>
        <tr>
          <td class="info">description</td>
          <td>{{ demo_itviec['description'] }}</td>
        </tr>
        <tr>
          <td class="info">address</td>
          <td>{{ demo_itviec['address'] }}</td>
        </tr>
        <tr>
          <td class="info">company</td>
          <td>{{ demo_itviec['company'] }}</td>
        </tr>
        <tr>
          <td class="info">post_time</td>
          <td>{{demo_itviec['post_time']}}</td>
        </tr>
        <tr>
          <td class="info">crawl_time</td>
          <td>{{ demo_itviec['crawl_time']}}</td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
  <hr />
  <div class="demo-title">Định dạng liệu vietnamwork</div>
  <div class="job-pair">
    <table>
      <thead>
        <tr>
          <th>Trường dữ liệu</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="info">address</td>
          <td>{{ demo_vietnamwork['address'] }}</td>
        </tr>
        <tr>
          <td class="info">benefits</td>
          <td>{{ demo_vietnamwork['benefits'] }}</td>
        </tr>
        <tr>
          <td class="info">company</td>
          <td>{{ demo_vietnamwork['company'] }}</td>
        </tr>
        <tr>
          <td class="info">description</td>
          <td>{{ demo_vietnamwork['description'] }}</td>
        </tr>
        <tr>
          <td class="info">elem_id</td>
          <td>{{ demo_vietnamwork['elem_id'] }}</td>
        </tr>
        <tr>
          <td class="info">maxSalary</td>
          <td>{{ demo_vietnamwork['maxSalary'] }}</td>
        </tr>
        <tr>
          <td class="info">minSalary</td>
          <td>{{ demo_vietnamwork['minSalary'] }}</td>
        </tr>
        <tr>
          <td class="info">title</td>
          <td>{{demo_vietnamwork['title']}}</td>
        </tr>
        <tr>
          <td class="info">url</td>
          <td>{{ demo_vietnamwork['url']}}</td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
  </div>
</div>

<hr />
{% endblock %}
